<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ComicCollab</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../node_modules/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../node_modules/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../node_modules/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
    <!-- Functions to call for sharing -->
    <script language="javascript">
    function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function twittershareCurrentPage()
    {window.open("http://twitter.com/share?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function googleshareCurrentPage()
    {window.open("https://plus.google.com/share?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function redditshareCurrentPage()
    {window.open("http://reddit.com/submit?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function linkedinshareCurrentPage()
    {window.open("http://www.linkedin.com/shareArticle?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function tumblrshareCurrentPage()
    {window.open("http://www.tumblr.com/share/link?url="+escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; };
    function emailshareCurrentPage()
    {window.open("mailto:?subject=Check Out This Comic&body=Here's this link: "+escape(window.location.href), '');return false; };
    </script>
    <div class="page-header" style="margin-top: 60px">
        <h1>Comic <%=comicId%></h1>
        <a href="../editcomic/<%=comicId%>">Edit comic</a><br />
        <a href="../uploadcomics/<%=comicId%>">Upload new image</a><br />
        <p>Tags:
            <% for (var i=0; i<tags.length; i++) { %>
            <%= tags[i]%>
            <% } %>
        </p>
        <br>
        <!-- Facebook (url) -->
        <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook"><img src="../color/Facebook.png"></a>
        <!-- Twitter (url) -->
        <a href="javascript:twittershareCurrentPage()" target="_blank" alt="Share on Twitter"><img src="../color/Twitter.png"></a>
        <!-- Google Plus (url) -->
        <a href="javascript:googleshareCurrentPage()" target="_blank" alt="Share on Google Plus"><img src="../color/Google+.png"></a>
        <!-- Reddit (url) -->
        <a href="javascript:redditshareCurrentPage()" target="_blank" alt="Share on Reddit"><img src="../color/Reddit.png"></a>
        <!-- LinkedIn (url) -->
        <a href="javascript:linkedinshareCurrentPage()" target="_blank" alt="Share on LinkedIN"><img src="../color/LinkedIn.png"></a>
        <!-- Tumblr (url) -->
        <a href="javascript:tumblrshareCurrentPage()" target="_blank" alt="Share on Tumblr"><img src="../color/Tumblr.png"></a>
        <!-- Email (subject, body) -->
        <a href="javascript:emailshareCurrentPage()" target="_blank" alt="Share via Email"><img src="../color/Email.png"></a>
    </div>
    <div style="min-width: 1250px">
    <% for (var i=0; i<urls.length; i++) { %>
    <img style="width: 300px; height:300px" src=<%= urls[i]%> />
    <% } %>
    </div>
</div>
</body>
</html>