<html>
<head>
    <title><%= title %></title>
    <!-- Bootstrap core CSS -->
    <link href="../node_modules/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ComicCollab</a>
        <%if (cur.getIsLoggedIn()){%>
        <div id="navbar" class="navbar-collapse collapse">
            <ul>
                <a href="../uploadcomics/" class="btn btn-info" role="button" id='button_createComic' style="margin-top: 8px;">Create Comic</a>
                <a href="../myprofile" class="btn btn-info" role="button" id='button_profile' style="margin-top: 8px;">Profile</a>
                <a href="../userlist" class="btn btn-info" role="button" id='button_createComic' style="margin-top: 8px;">Users</a>
                <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top: 8px;">
                            Browse <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="../sortbyviews">by views</a></li>
                            <li><a href="../sortbylikes">by likes</a></li>
                        </ul>
                </div>
                <div style="float: right;">
                    <a href="../logout" class="btn btn-info" role="button" id='button_logout' style="margin-top: 8px;">Logout</a>
                </div>
            </ul>
        </div>
        <% }else {%>
        <div id="navbar" class="navbar-collapse collapse" align="right">
            <ul>
                <a href="../register" class="btn btn-info" role="button" id='button_createprofile' style="margin-top: 8px;">Register</a>
                <a href="../login" class="btn btn-info" role="button" id='button_login' style="margin-top: 8px;">Login</a>
            </ul>
        </div>
        <%}%>
    </div>
</nav>

<div class="container">
    <!-- Functions to call for sharing -->
    <script language="javascript">
        function fbshareCurrentPage() {
            window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function twittershareCurrentPage() {
            window.open("http://twitter.com/share?url=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function googleshareCurrentPage() {
            window.open("https://plus.google.com/share?url=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function redditshareCurrentPage() {
            window.open("http://reddit.com/submit?url=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function linkedinshareCurrentPage() {
            window.open("http://www.linkedin.com/shareArticle?url=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function tumblrshareCurrentPage() {
            window.open("http://www.tumblr.com/share/link?url=" + escape(window.location.href), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false;
        }
        ;
        function emailshareCurrentPage() {
            window.open("mailto:?subject=Check Out This Comic&body=Here's this link: " + escape(window.location.href), '');
            return false;
        }
        ;
        function deleteButtonFunction() {
            $.ajax({
                type: "DELETE",
                url: "/comic/" + document.URL.split("/")[document.URL.split("/").length - 1]
            })
        }
    </script>
    <br>
    <div class="page-header" style="margin-top: 60px">
        <h1><%= title %></h1>

        <% if (currentUser.getIsLoggedIn()) { %>
        <a href="../editcomic/<%= comicId %>">
            <button type="submit" class="login btn btn-primary">Edit Comic</button>
        </a>
        &nbsp;
        <a href="../uploadcomics/<%= comicId %>">
            <button type="submit" class="login btn btn-primary">Upload New Image</button>
        </a>
        <br>
        <br>
        <% } %>
        <% if (isCreator) { %>
        <a href="../home">
            <button type="submit" onclick="deleteButtonFunction()" class="login btn btn-primary">Delete Comic</button>
        </a>
        <br>
        <br>
        <% } %>
        <p>Tags:
            <% for (var i = 0; i < tags.length; i++) { %>
            <span class="label label-default"><a href="../search/<%= tags[i] %>" style="text-decoration:none; color:white"><%= tags[i] %></a></span>
            <% } %>
        </p>
        <br>
        <p>To delete a comic cell or reorder the images, click on the image and follow the instructions.</p>

        <!-- Facebook (url) -->
        <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook"><img
                    src="../color/Facebook.png"></a>
        <!-- Twitter (url) -->
        <a href="javascript:twittershareCurrentPage()" target="_blank" alt="Share on Twitter"><img
                    src="../color/Twitter.png"></a>
        <!-- Google Plus (url) -->
        <a href="javascript:googleshareCurrentPage()" target="_blank" alt="Share on Google Plus"><img
                    src="../color/Google+.png"></a>
        <!-- Reddit (url) -->
        <a href="javascript:redditshareCurrentPage()" target="_blank" alt="Share on Reddit"><img
                    src="../color/Reddit.png"></a>
        <!-- LinkedIn (url) -->
        <a href="javascript:linkedinshareCurrentPage()" target="_blank" alt="Share on LinkedIN"><img
                    src="../color/LinkedIn.png"></a>
        <!-- Tumblr (url) -->
        <a href="javascript:tumblrshareCurrentPage()" target="_blank" alt="Share on Tumblr"><img
                    src="../color/Tumblr.png"></a>
        <!-- Email (subject, body) -->
        <a href="javascript:emailshareCurrentPage()" target="_blank" alt="Share via Email"><img
                    src="../color/Email.png"></a>
        <p style='float: right;'>
            <span style="font-size: 200%; color:darkblue">Views: <b><%= viewcount %></b></span>
        </p>
    </div>
    <div style="min-width: 1250px">
        <% for (var j = 0; j < urls.length; j++) { %>
        <a href="/comic/<%= comicId %> <%= urls[j] %>"><img style="width: 282px; height:282px" src=<%= urls[j] %> /></a>
        <% } %>
    </div>
    <br>
    <p>
        <span style="font-size: 150%; color:green">Likes: <b><%= liketotal %></b></span>&nbsp
        <span style="font-size: 150%; color: red">Dislikes: <b><%= disliketotal %></b></span>
    </p>
    <% if (currentUser.getIsLoggedIn()) { %>
    <form method="post" name="ratings" id="form">
        <button type="submit" class="btn btn-success" name="submit" value="like">Like</button>
        <button type="submit" class="btn btn-danger" name="submit" value="dislike">DisLike</button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <% if (isFavourite) { %>
        Already added to favourites.
        <% } else { %>
        <button type="submit" class="btn btn-info" name="submit" value="favourite">Favourite</button>
        <% } %>
        <br>
        <br>
        <textarea title="comment" id="comment" name="comment" rows="4" cols="160" form="form"
                  placeholder="Add a comment here."></textarea>
        <br>
        <br>
        <button type="submit" class="btn btn-primary" name="submit" value="comment">Post Comment</button>
    </form>
    <% } %>
    <table class="table table-striped">
        <% for (var k = 0; k < comments.length; k++) { %>
        <tr>
            <td style="max-width: 20px; overflow: auto; word-wrap: break-word;">
                <b><%= usernames[k] %></b>
                <br>
                <%= comments[k] %>
            </td>
        </tr>
        <% } %>
    </table>
</div>
</body>
</html>