
<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head><body><div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="home">ComicCollab</a>
    </div>
    <div class="page-header" style="margin-top: 60px">
        <h1>My Profile</h1>
    </div>
    <table>
    <thead>
        <tr>
            <th>Name&nbsp</th>
            <th>Age&nbsp</th>
            <th>Gender&nbsp</th>
            <th>Location&nbsp</th>
            <th>About Me&nbsp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=fullname%></td>
            <td><%=age%></td>
            <td><%=gender%></td>
            <td><%=location%></td>
            <td><%=aboutme%></td>
        </tr>
    </tbody>
    </table>
    </div>
    </body>
</html>