<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<style>
body  {
    background: linear-gradient( rgba(255,0,0,0), rgb(65, 228, 231));
}
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
</nav>
<div class="container">
    <div class="page-header" style="margin-top: 60px">
        <br>
        <h1><b><%= userName %></b></h1>
        <img src="<%= profilepicture%>"  style="height:200px;width:200px;"></img>
    </div>
    <div class="row">
    <div class="col-lg-7">
        <table>
            <tr>
                <td>
                    <b>Name</b><br>
                    <%= fullname %><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Age</b><br>
                    <%= age %><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Gender</b><br>
                    <%= gender %><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Location</b><br>
                    <%= location %><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <b>About Me</b><br>
                    <%= aboutme %>
                </td>
            </tr>
        </table>
        <br>
        <% if (notFan) { %>
        <form method="post" role="form" class="login-form form-horizontal">
            <div class="form-group">
                &nbsp &nbsp
                <button type="submit" class="login btn btn-primary">Become a Fan of this user</button>
            </div>
        </form>
        <% } else { %>
        <div> You are a fan of this user.</div>
        <% } %>
    </div>
    <div class="col-lg-5">
        <h4>My Fans</h4>
        <% for (var i = 0; i < fans.length; i++) { %>
        <a href="../users/<%= fans[i]%>"><img style="height:25px; width:25px;" src = "<%= fanprofilepics[i] %>"> <b><%= fans[i] %></b></a><br>
        <% } %>
        <h4>I'm Following</h4>
        <% for (var j = 0; j < following.length; j++) { %>
        <a href="../users/<%= following[j]%>"><img style="height:25px; width:25px;" src="<%= followingprofilepics[j] %>"> <b><%= following[j] %></b></a><br>
        <% } %>
        <br>
        <h4>My Favourite Comics</h4>
        <% for (var k = 0; k < favourites.length; k++) { %>
        <a href="../comic/<%= favourites[k]%>"><img style="height:25px; width:25px;" src="<%= favouriteThumbnails[k] %>"> <b><%= favouriteTitles[k] %></b></a><br>
        <% } %>
        <br>       
    </div>
    </div>
        <div class= "row">
            <div class = "col-lg-12">
        <h3>Check out <%= userName %>'s other artwork</h3>
        <!--deviantartstart -->
        <% if (deviantartusername != "N/A") { %>
        <h4><a href = "http://www.<%= deviantartusername%>.deviantart.com" target="_blank"><b>DeviantArt</b></a></h4>
        
        <% if (deviantartimages.length > 4) { %>
        <% for (var m = 0; m < 4; m++) { %>
        <a href=<%= devianturls[m] %> target="_blank"><img style="height:170px" src=<%= deviantartimages[m] %> /></a>
        <% } %>
        <% } else { %>
        <% for (var m = 0; m < deviantartimages.length; m++) { %>
        <a href=<%= devianturls[m] %> target="_blank"><img style="height:170px" src=<%= deviantartimages[m] %> /></a>
        <% } %>
        <% } %>
        <% if (deviantartimages.length > 4) { %>
        <br>
        <br>
        <a href = "http://www.<%= deviantartusername%>.deviantart.com/gallery" target="_blank"><button type="button" class="btn btn-success">Full Gallery</button></a>
        <% } %>
        <br>
        
        <% } else { %>
        <div> A DeviantArt account is not associated with this profile.</div>
        <% } %>
        <br>
        <!--deviantartend -->
        <!--tumblrstart -->
        <% if (tumblrusername != "N/A") { %>
        <h4><a href = "http://www.<%= tumblrusername%>.tumblr.com" target="_blank"><b>Tumblr</b></a></h4>
        
        <% if (tumblrurls.length > 4) { %>
        <% for (var m = 0; m < 4; m++) { %>
        <a href=<%= tumblrposturls[m] %> target="_blank"><img style="height:170px" src=<%= tumblrurls[m] %> /></a>
        <% } %>
        <% } else { %>
        <% for (var m = 0; m < tumblrurls.length; m++) { %>
        <a href=<%= tumblrposturls[m] %> target="_blank"><img style="height:170px" src=<%= tumblrurls[m] %> /></a>
        <% } %>
        <% } %>
        <% if (tumblrurls.length > 4) { %>
        <br>
        <br>
        <a href = "http://www.<%= tumblrusername%>.tumblr.com" target="_blank"><button type="button" class="btn btn-success">Full Gallery</button></a>
        <% } %>
        <br>
        
        <% } else { %>
        <br>
        <div> A Tumblr account is not associated with this profile.</div>
        <br>
        <% } %>
        <br>
        <!--tumblrend -->
        <br>
        <br>
        </div>
    </div>    
</body>
</html>