<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ComicCollab</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../node_modules/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../node_modules/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../node_modules/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
</nav>
<div class="container">
    <div class="page-header" style="margin-top: 60px">
        <h1><b><%= userName %></b></h1>
    </div>
    <div class="col-lg-6">
        <h4>Name</h4>
        <p><%= fullname %></p>
        <h4>Age</h4>
        <p><%= age %></p>
        <h4>Gender</h4>
        <p><%= gender %></p>
        <h4>Location</h4>
        <p><%= location %></p>
        <h4>About Me</h4>
        <p><%= aboutme %></p>
        <br>
        <% if (notFan) { %>
        <form method="post" role="form" class="login-form form-horizontal">
            <div class="form-group">
                &nbsp &nbsp
                <button type="submit" class="login btn btn-primary">Become a Fan of this user</button>
            </div>
        </form>
        <% } else { %>
        <div> You are a fan of this user.</div>
        <% } %>
    </div>
    <div class="col-lg-6">
        <h4><%= userName%>'s Fans</h4>
        <% for (var i = 0; i < fans.length; i++) { %>
        <a href="../users/<%= fans[i] %>"><%= fans[i] %></a><br>
        <% } %>
        <h4><%= userName%> is Following</h4>
        <% for (var j = 0; j < following.length; j++) { %>
        <a href="../users/<%= following[j] %>"><%= following[j] %></a><br>
        <% } %>
        <br>
        <h4><%= userName%>'s Favourite Comics</h4>
        <% for (var j = 0; j < favourites.length; j++) { %>
        <a href="../comic/<%= favourites[j] %>"><%= favouriteTitles[j] %></a><br>
        <% } %>
    </div>
</div>
</body>
</html>